<template>
  <div class="container container-wide position-relative z-2">
    <div class="row">
      <news-show :posts="posts" :loadmore="false" @loadmore="loadMore()"></news-show>
    </div>
  </div>  
</template>
<script>
export default {
  data() {
    return {
      category: '*',
      search: '',
      errors: {},
      success: false,
      loaded: true,
      posts: [],
      limit: 3,
      page: 1,
    }
  },
  mounted(){
    this.getPosts();
  },
  methods: {
    getPosts(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/news/get-without-featured?limit=' + this.limit + '&page=' + page + '&category=' + this.category + '&search=' + this.search).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.posts = response.data.data;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>