<template>
  <div class="container container-wide pt-3 ">
    <div class="row pb-5 mob-py-0" v-if="posts.length > 0">
      <div class="col-lg-4 col-md-6 mb-4" v-for="(post, index) in posts">
        <a :href="'/news/' +moment(post.created_at) +'/'+ post.slug" >
          <div class="card news-card border-0 shadow">
            <picture>
              <source :srcset="post.featuredwebp" type="image/webp"/> 
              <source :srcset="post.featured" :type="post.mimetype"/> 
              <img :src="post.featured" :type="post.mimetype" :alt="post.title" class="lazy w-100"/>
            </picture>
            <div class="p-4 post-summary text-center text-lg-left">
              <p class="text-uppercase letter-spacing text-light text-smallest mb-0">{{niceDate(post.created_at)}}</p>
              <p class="mb-1 post-title text-title text-dark">{{post.title}}</p>
              <p class="mb-2 text-dark">{{post.excerpt}}</p>
              <p class="text-uppercase read-more-news letter-spacing text-small mb-0">Read Article <i class="fa fa-angle-double-right ml-2"></i></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
        <div class="btn btn-primary btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-angle-double-down"></i></div> 
      </div>
    </div>
    <div class="row py-5" v-else>
      <div class="col-lg-6 text-center text-lg-left">
        <p class="mimic-h3">Sorry no articles found</p>
        <p>Sorry, there are no news articles available using the filters you selected, please change your filters and try again.</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      posts: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  .news-card{
    p{
      &.read-more-news{
        font-size: 0.9rem;
        a{
          color: #3968bf;
        }
      }    
      &.post-title{
        font-size: 1.6rem;
        line-height: 1.1;
        font-weight: 600;
      }
    }
    .post-summary{
      min-height: 256px;
    }
  }
  @media only screen and (max-width: 767px){
    .news-card{
      p{
        &.read-more-news{
          font-size: 3.5vw;
        }
        &.post-title{
          font-size: 5.7vw;
        }
      }
      .post-summary {
        min-height: 0px;
      }
    }
  }
</style>