<template>
  <div class="container container-wide position-relative z-2 mb-5 pb-5 mob-mb-0">
    <div class="row">
      <div class="col-12 half_col position-relative z-2 ">
        <div class="bg-white border-radius p-4 mob-px-0 shadow search-form">
          <div id="games-filter" class="container container-wide news-select-container">
            <div class="row">
              <div class="col-12">
                <p class="text-center text-lg-left text-small letter-spacing text-uppercase mb-2"><b>Fixtures & Results</b></p>
              </div>
              <div class="col-lg-4 mob-mb-0 mb-2">
                <div class="select-holder">
                  <select class="form-control" name="team" v-model="team" @change="getGames">
                    <option value="*">All Teams</option>
                    <option v-for="(team, i) of teams":key="i" :value="team.id">{{ team.name }} - {{ team.nickname }}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 mob-mb-3 mb-2 d-none d-lg-block">
                <div class="select-holder">
                  <select class="form-control" name="competition" v-model="competition" @change="getGames">
                    <option value="*">All Competitions</option>
                    <option v-for="(competition, i) of competitions":key="i" :value="competition.id">{{ competition.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 d-none d-lg-block">
                <div class="datetime-holder">
                  <datetime type="date" v-model="date" :input-class="'form-control datepick'" format="dd/MM/yyyy"></datetime>
                </div>
                <div v-if="errors && errors.date" class="text-primary">{{ errors.date[0] }}</div>
                <p class="mt-1 text-smallest text-uppercase letter-spacing mb-0 text-center"> or: <u class="text-blue cursor-pointer d-block d-md-inline" @click="resetDate()">reset date</u></p>
              </div>
              <div class="col-12 d-lg-none">
                <div class="collapse" id="moreFiltersMobile">
                  <div class="row">
                    <div class="col-12 my-2">
                      <div class="select-holder">
                        <select class="form-control" name="competition" v-model="competition" @change="getGames">
                          <option value="*">All Competitions</option>
                          <option v-for="(competition, i) of competitions":key="i" :value="competition.id">{{ competition.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="datetime-holder">
                        <datetime type="date" v-model="date" :input-class="'form-control datepick'" format="dd/MM/yyyy"></datetime>
                      </div>
                      <div v-if="errors && errors.date" class="text-primary">{{ errors.date[0] }}</div>
                      <p class="mt-2 text-smallest text-uppercase letter-spacing mb-0 text-center"> or: <u class="text-blue cursor-pointer" @click="resetDate()">reset date</u></p>
                    </div>
                  </div>
                </div>
                <p class="mb-0 mt-2 text-center text-small text-uppercase letter-spacing"><a data-toggle="collapse" href="#moreFiltersMobile" role="button" aria-expanded="false" aria-controls="moreFiltersMobile" class="menu-item"><span class="collapsed">More</span><span class="expanded">Less</span> Filters <i class="fa fa-angle-down collapsed"></i><i class="fa fa-angle-up expanded"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="loading" v-if="success == false">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <p class="loading-text text-uppercase text-small text-blue letter-spacing text-center">Loading Fixtures & Results...</p>
      </div>
      <games-show :games="games" :loadmore="loadmore" @loadmore="loadMore()" v-else></games-show>
    </div>
  </div>  
</template>
<script>
export default {
  props: {
    teams: Array,
    competitions: Array,
  },
  watch:{
    date: function(newValue, oldValue) {
      if(newValue == ''){
        $('#games-filter .vdatetime').removeClass('hide-placeholder');
      }else{
        $('#games-filter .vdatetime').addClass('hide-placeholder');
        this.getGames();
      }
    }
  },
  data() {
    return {
      team: '*',
      competition: '*',
      date: "",
      errors: {},
      success: false,
      loaded: true,
      games: [],
      limit: 9,
      page: 1,
      loadmore: true,
      hidedate: false,
    }
  },
  mounted(){
    this.getGames();
  },
  methods: {
    resetDate(){
      this.date = "";
      this.getGames();
    },
    loadMore(){
      this.page++;
      this.moreGames();
    },
    moreGames(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/games/get?limit=' + this.limit + '&page=' + page + '&competition=' + this.competition + '&team=' + this.team + '&date=' + this.date).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.games.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.games);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
    getGames(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/games/get?limit=' + this.limit + '&page=' + page + '&competition=' + this.competition + '&team=' + this.team + '&date=' + this.date).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.games = response.data.data;
          this.success = true;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>
<style lang="scss">
  @import '/node_modules/vue-datetime/dist/vue-datetime.min.css';
  .search-form{
    margin-top: -50px;
  }
  .loading{
    height: 987px;
    width: 100%;
    position:relative;
    .lds-roller{
      position: absolute;
      top: 50px;
      left: calc(50% - 32px);
    }
    .loading-text{
      position: absolute;
      top: calc(50px + 75px);
      left: 0;
      width: 100%;
    }
  }
</style>