<template>
  <div class="container container-wide pt-3 ">
    <div class="row pb-5 mob-py-0" v-if="games.length > 0">
      <div class="col-lg-4 mb-4 pt-2" v-for="game in games">
        <a :href="'/results/' + game.id + '/' + moment(game.date) + '/' + game.team.slug + '-vs-' + game.opposition.slug" v-if="game.home_away == 'Home'">
          <div class="card fixture-card">
            <div class="card-header border-0 bg-primary text-center">
              <p class="text-small letter-spacing text-uppercase text-dark mb-0"><b>{{game.time}} - {{niceDate(game.date)}}</b></p>
              <p class="text-smallest letter-spacing text-uppercase text-dark mb-0">{{game.location}}</p>
            </div>
            <div class="card-body px-0 py-2">
              <div class="container">
                <div class="row pt-2 pb-3">
                  <div class="col-12 text-center mb-3">
                    <picture>
                      <source srcset="/img/logos/logo.webp" type="image/webp"/> 
                      <source srcset="/img/logos/logo.png" type="image/png"/> 
                      <img src="/img/logos/logo.png" type="image/png" alt="Newtown Forest logo" class="mx-2 fixture-badge w-auto" width="50" height="50" v-if="game.home_away == 'Home'"/>
                    </picture>
                    <picture>
                      <source :srcset="game.opposition.webp" type="image/webp"/> 
                      <source :srcset="game.opposition.normal" :type="game.opposition.mimetype"/> 
                      <img :src="game.opposition.normal" :type="game.opposition.mimetype" :alt="game.opposition.name + ' logo'" class="mx-2 fixture-badge w-auto" width="50" height="50"/>
                    </picture>
                    <picture>
                      <source srcset="/img/logos/logo.webp" type="image/webp"/> 
                      <source srcset="/img/logos/logo.png" type="image/png"/> 
                      <img src="/img/logos/logo.png" type="image/png" alt="Newtown Forest logo" class="mx-2 fixture-badge w-auto" width="50" height="50" v-if="game.home_away == 'Away'"/>
                    </picture>
                  </div>
                  <div class="col-5 pl-0 text-right">
                    <p class="mb-0 text-dark"><span v-if="game.home_away == 'Home'">{{game.team.name}}</span>
                      <span v-else>{{game.opposition.name}}</span> </p>
                  </div>
                  <div class="col-2 text-center px-0">
                    <p class="text-dark text-uppercase letter-spacing mb-0">
                      <b v-if="game.report">{{game.report.home_team_goals}} - {{game.report.away_team_goals}}</b>
                      <b v-else>VS</b>
                    </p>
                  </div>
                  <div class="col-5 pr-0">
                    <p class="mb-0 text-dark"><span v-if="game.home_away == 'Away'">{{game.team.name}}</span>
                      <span v-else>{{game.opposition.name}}</span></p>
                  </div>
                </div>
              </div>
              <div class="text-center pb-2">
                <p class="text-smallest letter-spacing text-uppercase mb-0 text-dark">{{game.team.nickname}} - {{game.competition.name}}</p>
                <p v-if="game.report" class="text-smallest letter-spacing text-uppercase mb-0"><b>View Match Report</b></p>
                <div v-else style="height:18px;"></div>
              </div>
            </div>
          </div>
        </a>
        <a :href="'/results/' + game.id + '/' + moment(game.date) + '/' + game.opposition.slug + '-vs-' + game.team.slug" v-if="game.home_away == 'Away'">
          <div class="card fixture-card">
            <div class="card-header border-0 bg-primary text-center">
              <p class="text-small letter-spacing text-uppercase text-dark mb-0"><b>{{game.time}} - {{niceDate(game.date)}}</b></p>
              <p class="text-smallest letter-spacing text-uppercase text-dark mb-0">{{game.location}}</p>
            </div>
            <div class="card-body px-0 py-2">
              <div class="container">
                <div class="row pt-2 pb-3">
                  <div class="col-12 text-center mb-3">
                    <picture>
                      <source srcset="/img/logos/logo.webp" type="image/webp"/> 
                      <source srcset="/img/logos/logo.png" type="image/png"/> 
                      <img src="/img/logos/logo.png" type="image/png" alt="Newtown Forest logo" class="mx-2 fixture-badge w-auto" width="50" height="50" v-if="game.home_away == 'Home'"/>
                    </picture>
                    <picture>
                      <source :srcset="game.opposition.webp" type="image/webp"/> 
                      <source :srcset="game.opposition.normal" :type="game.opposition.mimetype"/> 
                      <img :src="game.opposition.normal" :type="game.opposition.mimetype" :alt="game.opposition.name + ' logo'" class="mx-2 fixture-badge w-auto" width="50" height="50"/>
                    </picture>
                    <picture>
                      <source srcset="/img/logos/logo.webp" type="image/webp"/> 
                      <source srcset="/img/logos/logo.png" type="image/png"/> 
                      <img src="/img/logos/logo.png" type="image/png" alt="Newtown Forest logo" class="mx-2 fixture-badge w-auto" width="50" height="50" v-if="game.home_away == 'Away'"/>
                    </picture>
                  </div>
                  <div class="col-5 pl-0 text-right">
                    <p class="mb-0 text-dark"><span v-if="game.home_away == 'Home'">{{game.team.name}}</span>
                      <span v-else>{{game.opposition.name}}</span> </p>
                  </div>
                  <div class="col-2 text-center px-0">
                    <p class="text-dark text-uppercase letter-spacing mb-0">
                      <b v-if="game.report">{{game.report.home_team_goals}} - {{game.report.away_team_goals}}</b>
                      <b v-else>VS</b>
                    </p>
                  </div>
                  <div class="col-5 pr-0">
                    <p class="mb-0 text-dark"><span v-if="game.home_away == 'Away'">{{game.team.name}}</span>
                      <span v-else>{{game.opposition.name}}</span></p>
                  </div>
                </div>
              </div>
              <div class="text-center pb-2">
                <p class="text-smallest letter-spacing text-uppercase mb-0 text-dark">{{game.team.nickname}} - {{game.competition.name}}</p>
                <p v-if="game.report" class="text-smallest letter-spacing text-uppercase mb-0"><b>View Match Report</b></p>
                <div v-else style="height:18px;"></div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
        <div class="btn btn-primary btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-angle-double-down"></i></div> 
      </div>
    </div>
    <div class="row py-5" v-else>
      <div class="col-lg-6 text-center text-lg-left">
        <p class="mimic-h3">Sorry no fixtures found</p>
        <p>Sorry, there are no fixtures or results found using those filters, please try changing your filters.</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      games: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  h4.post-title{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: none;
  }
  p.read-more-news{
    font-size: 1.2rem;
    a{
      color: #265CC0;
    }
  }
  .news-title-top{
    font-weight: 300;
    line-height: 1;
    font-size: 1.5rem;
    font-family: Tungsten, sans-serif;
    text-transform: uppercase;
    color: #1D252D;
    margin-bottom: 5px;
  }
  @media only screen and (max-width: 767px){
    p.read-more-news{
      font-size: 7.5vw;
    }
  }
</style>