.no-webp{
	.home-top{
		background-image: url('/img/temp/home-top.png');
	}
	.players-bg{
		background-image: url('/img/bg/players.jpg');
	}
	.firsts-players-bg{
		background-image: url('/img/bg/firsts-players.jpg');
	}
	.seconds-players-bg{
		background-image: url('/img/bg/seconds-players.jpg');
	}
	.thirds-players-bg{
		background-image: url('/img/bg/thirds-players.jpg');
	}
	.huddle-bg{
		background-image: url('/img/bg/huddle.jpg');
	}
	.warm-up-bg{
		background-image: url('/img/bg/warm-up.jpg');
	}
	.fixtures-bg{
		background-image: url('/img/bg/fixtures.jpg');
	}
	.news-bg{
		background-image: url('/img/bg/news.jpg');
	}
	.training-bg{
		background-image: url('/img/bg/training.jpg');
	}
	.profile-bg{
		background-image: url('/img/bg/profile-bg.jpg');
	}
}
.webp{
	.home-top{
		background-image: url('/img/temp/home-top.webp');
	}
	.players-bg{
		background-image: url('/img/bg/players.webp');
	}
	.firsts-players-bg{
		background-image: url('/img/bg/firsts-players.webp');
	}
	.seconds-players-bg{
		background-image: url('/img/bg/seconds-players.webp');
	}
	.thirds-players-bg{
		background-image: url('/img/bg/thirds-players.webp');
	}
	.huddle-bg{
		background-image: url('/img/bg/huddle.webp');
	}
	.warm-up-bg{
		background-image: url('/img/bg/warm-up.webp');
	}
	.fixtures-bg{
		background-image: url('/img/bg/fixtures.webp');
	}
	.news-bg{
		background-image: url('/img/bg/news.webp');
	}
	.training-bg{
		background-image: url('/img/bg/training.webp');
	}
	.profile-bg{
		background-image: url('/img/bg/profile-bg.webp');
	}
}

.bg{
	@include background();
}
.bg-contain{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.background-right{
	background-position-x: right;
}
.dark-bg{
	background-color: $navy;
}
.bg-green{
	background-color: $green !important;
}
.bg-blue{
	background-color: #265CC0 !important;
}
.bg-dark-navy{
	background-color: $darknavy;
}
.bg-navy{
	background-color: #1C2D4B;
}
.bg-fixed{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}
.bg-light{
	background-color: $lightbg !important;
}
.bg-hex{
	background-color:#1C2D4B;
	background-image: url('/img/graphics/hex.svg');
}
.huddle-bg{
	background-position-y: bottom;
}
.bg-bottom-contain{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
}
.bg-blur{
	filter: blur(50px);
	transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  backface-visibility: hidden;
  opacity: .35;
}
.bottom-grad{
	background: linear-gradient(180deg, rgba(17,18,19,0) 0%, rgba(15,25,42,1) 100%);
	width: 100%;
	height: 200px;
	position: absolute;
	bottom: 0;
	left: 0;
}