#app{
	min-height: 100vh;
	&.admin{
		padding-top: 95px;
	}
}
.cut {
  background: #1D252D;
  position: absolute;
  bottom: -240px;
  left: -100px;
  width: calc(100% + 200px);
  height: 300px;
  transform-origin: center top;
  transform: rotate(4deg);
  z-index: 5;
}
.primary-line{
	border-top: 2px solid $primary;
}
.green-line{
	border-top: 2px solid $green;
}
.rounded{
	position: relative;
	border-radius: 30px !important;
	.close{
		position: absolute;
		top: 1.2rem;
		right: -1.5rem;
		cursor: pointer;
	}
}
.overflow-x-hidden{
	overflow-x: hidden;
	overflow-y: visible;
}
.search-page{
	min-height: 100vh;
}
.z-1{
	z-index: 1;
}
.z-2{
	z-index: 2;
}
.z-3{
	z-index: 3;
}
.z-100{
	z-index: 3;
}
.list-style-none{
	list-style: none;
}
.rounded-box{
	border-radius: 5px;
}
.card{
	border-radius:0;
	border: 0;
	@include boxShadow();
}
.full-height{
	height: 100vh;
}
.ipad-height{
	height: 768px;
	max-height: 100vh;
}
.modal{
	background-color: rgba(2,105,221, 0.8);
	text-align: center;
	z-index: 1500;
	.modal-content{
		background-color: transparent;
		border: 0;
	}
	&.danger{
		background-color: $transred;
	}
}
.testimonial-quote{
	width: 100px;
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.trans{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $transgrey;
}
.trans-dark{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@include transition(300ms);
	&:hover{
		transform: rotate(90deg);
	}
}
.blog-body{
	font-size: 1.3rem;
	img{
		max-width: 100%;
	}
	p{
		margin-bottom: 0;
	}
	strong{

	}
	blockquote{
		background-color: transparent;
		color: $black;
    padding: 1rem;
    font-style: none;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: 1.3;
    border-left: 2px solid #000;
	}
	h2{
		margin-bottom: 0;
	}
}
.mw-100{
	max-width: 100vw !important;
}
#map{
	position: absolute;
	top: 100px;
	right: 0;
	width: 45vw;
	height: calc(100vh - 100px);
}
.zoom-link{
	cursor: pointer;
	.zoom-img{
		width: 100%;
		height: 233px;
		max-height: 233px;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
	    top:-100%; left:0; right: 0; bottom:-100%;
	    margin: auto;
	    @include transition(1000ms);
		}
		&.product-image{
			height: 100%;
			max-height: inherit;
			img{
				position: relative;
			}
		}
	}
	&:hover{
		.zoom-img{
			img{
				transform: scale(1.1);
			}
		}
	}
}
.shadow{
	@include boxShadow();
}
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
.top-padding{
	padding-top: 147px;
} 
.big-ball{
	position: absolute;
	top: 3rem;
	right: 3rem;
	width: 800px;
	height: 800px;
	opacity: 0.2;
}
#page-header{
	min-height: 600px;
	&.news-header{
		min-height: 700px;
	}
	.home-bg-featured{
		background-size: auto 600px;
		@include transition(2000ms);
	}
	.home-header-inner{
		min-height: 600px;
		.home-header-inner-bg{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
		}
	}
	&:hover{
		.home-bg-featured{
			background-size: auto 700px;
		}
	}
}
.table-striped tbody tr:nth-of-type(odd){
	background-color: rgba(60,98,165,0.06);
}
.datetime-holder{
  position: relative;
  border: 0;
  overflow: hidden;
  background: #F0F0F0;
  border-radius: 5px;
}