<template>
  <div class="container container-wide position-relative z-2 mb-5 pb-5 mob-mb-0">
    <div class="row">
       <div class="col-12 half_col position-relative z-2 ">
        <div class="bg-white border-radius p-4 mob-px-0 shadow search-form">
          <div class="container container-wide profiles-select-container">
            <div class="row">
              <div class="col-12">
                <p class="text-center text-lg-left text-small letter-spacing text-uppercase mb-2"><b>Player Profiles</b></p>
              </div>
              <div class="col-12">
                <div class="search-holder">
                  <input type="text" name="search" class="form-control" placeholder="Search player profiles..." v-model="search" v-debounce:300ms="getProfiles"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 mob-mt-3">
      <div class="loading" v-if="success == false">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <p class="loading-text text-uppercase text-small text-blue letter-spacing text-center">Loading Player Profiles...</p>
      </div>
      <profiles-show :profiles="profiles" :loadmore="loadmore" @loadmore="loadMore()" v-else></profiles-show>
    </div>
  </div>  
</template>
<script>
export default {
  data() {
    return {
      search: '',
      errors: {},
      success: false,
      loaded: true,
      profiles: [],
      limit: 24,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getProfiles();
  },
  methods: {
    loadMore(){
      this.page++;
      this.moreProfiles();
    },
    moreProfiles(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/profiles/get?limit=' + this.limit + '&page=' + page + '&search=' + this.search).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.profiles.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.profiles);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
    getProfiles(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/profiles/get?limit=' + this.limit + '&page=' + page + '&search=' + this.search).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.profiles = response.data.data;
          this.success = true;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>
<style lang="scss">
  .search-form{
    margin-top: -50px;
  }
  .search-holder{
    position: relative;
    border: 0;
    overflow: hidden;
    background: #F0F0F0;
    border-radius: 5px;
    input{
      border-radius: 5px;
      appearance: none;
      padding: 0 1rem;
      color: #000;
      font-weight: 900;
      z-index: 1;
      background: none;
      position: relative;
      border: 0;
      &:focus{
        background-color: #F0F0F0;
      }
    }
    &:after{
      content: '\f002';
      font-family: 'FontAwesome';
      width: 15px;
      position: absolute;
      right: 1rem;
      top: 21px;
      z-index: 0;
    }
  }
  .loading{
    height: 987px;
    width: 100%;
    position:relative;
    .lds-roller{
      position: absolute;
      top: 50px;
      left: calc(50% - 32px);
    }
    .loading-text{
      position: absolute;
      top: calc(50px + 75px);
      left: 0;
      width: 100%;
    }
  }
</style>