<template>
	<div class="container container-wide mt-5 pt-5 mob-mt-0" v-if="games.length > 0">
		<div class="row justify-content-center">
			<div class="col-12 mb-4 text-center">
				<p class="mimic-h3 mob-mb-0">Last appearances</p>
			</div>
			<div class="col-lg-4 mob-mb-4 ipadp-mb-4" v-for="game in games">
				<a :href="'/results/' + game.id + '/' + moment(game.date) + '/' + game.team.slug + '-vs-' + game.opposition.slug" v-if="game.home_away == 'Home'">
          <div class="card fixture-card">
            <div class="card-header border-0 bg-primary text-center">
              <p class="text-small letter-spacing text-uppercase text-dark mb-0"><b>{{game.time}} - {{niceDate(game.date)}}</b></p>
              <p class="text-smallest letter-spacing text-uppercase text-dark mb-0">{{game.location}}</p>
            </div>
            <div class="card-body px-0 py-2">
              <div class="container">
                <div class="row pt-2 pb-3">
                  <div class="col-12 text-center mb-3">
                    <picture>
                      <source srcset="/img/logos/logo.webp" type="image/webp"/> 
                      <source srcset="/img/logos/logo.png" type="image/png"/> 
                      <img src="/img/logos/logo.png" type="image/png" alt="Newtown Forest logo" class="mx-2 fixture-badge w-auto" width="50" height="50" v-if="game.home_away == 'Home'"/>
                    </picture>
                    <picture>
                      <source :srcset="game.opposition.webp" type="image/webp"/> 
                      <source :srcset="game.opposition.normal" :type="game.opposition.mimetype"/> 
                      <img :src="game.opposition.normal" :type="game.opposition.mimetype" :alt="game.opposition.name + ' logo'" class="mx-2 fixture-badge w-auto" width="50" height="50"/>
                    </picture>
                    <picture>
                      <source srcset="/img/logos/logo.webp" type="image/webp"/> 
                      <source srcset="/img/logos/logo.png" type="image/png"/> 
                      <img src="/img/logos/logo.png" type="image/png" alt="Newtown Forest logo" class="mx-2 fixture-badge w-auto" width="50" height="50" v-if="game.home_away == 'Away'"/>
                    </picture>
                  </div>
                  <div class="col-5 pl-0 text-right">
                    <p class="mb-0 text-dark"><span v-if="game.home_away == 'Home'">{{game.team.name}}</span>
                      <span v-else>{{game.opposition.name}}</span> </p>
                  </div>
                  <div class="col-2 text-center px-0">
                    <p class="text-dark text-uppercase letter-spacing mb-0">
                      <b v-if="game.report">{{game.report.home_team_goals}} - {{game.report.away_team_goals}}</b>
                      <b v-else>VS</b>
                    </p>
                  </div>
                  <div class="col-5 pr-0">
                    <p class="mb-0 text-dark"><span v-if="game.home_away == 'Away'">{{game.team.name}}</span>
                      <span v-else>{{game.opposition.name}}</span></p>
                  </div>
                </div>
              </div>
              <div class="text-center pb-2">
                <p class="text-smallest letter-spacing text-uppercase mb-0 text-dark">{{game.team.nickname}} - {{game.competition.name}}</p>
                <p v-if="game.report" class="text-smallest letter-spacing text-uppercase mb-0"><b>View Match Report</b></p>
                <div v-else style="height:18px;"></div>
              </div>
            </div>
          </div>
        </a>
        <a :href="'/results/' + game.id + '/' + moment(game.date) + '/' + game.opposition.slug + '-vs-' + game.team.slug" v-if="game.home_away == 'Away'">
          <div class="card fixture-card">
            <div class="card-header border-0 bg-primary text-center">
              <p class="text-small letter-spacing text-uppercase text-dark mb-0"><b>{{game.time}} - {{niceDate(game.date)}}</b></p>
              <p class="text-smallest letter-spacing text-uppercase text-dark mb-0">{{game.location}}</p>
            </div>
            <div class="card-body px-0 py-2">
              <div class="container">
                <div class="row pt-2 pb-3">
                  <div class="col-12 text-center mb-3">
                    <picture>
                      <source srcset="/img/logos/logo.webp" type="image/webp"/> 
                      <source srcset="/img/logos/logo.png" type="image/png"/> 
                      <img src="/img/logos/logo.png" type="image/png" alt="Newtown Forest logo" class="mx-2 fixture-badge w-auto" width="50" height="50" v-if="game.home_away == 'Home'"/>
                    </picture>
                    <picture>
                      <source :srcset="game.opposition.webp" type="image/webp"/> 
                      <source :srcset="game.opposition.normal" :type="game.opposition.mimetype"/> 
                      <img :src="game.opposition.normal" :type="game.opposition.mimetype" :alt="game.opposition.name + ' logo'" class="mx-2 fixture-badge w-auto" width="50" height="50"/>
                    </picture>
                    <picture>
                      <source srcset="/img/logos/logo.webp" type="image/webp"/> 
                      <source srcset="/img/logos/logo.png" type="image/png"/> 
                      <img src="/img/logos/logo.png" type="image/png" alt="Newtown Forest logo" class="mx-2 fixture-badge w-auto" width="50" height="50" v-if="game.home_away == 'Away'"/>
                    </picture>
                  </div>
                  <div class="col-5 pl-0 text-right">
                    <p class="mb-0 text-dark"><span v-if="game.home_away == 'Home'">{{game.team.name}}</span>
                      <span v-else>{{game.opposition.name}}</span> </p>
                  </div>
                  <div class="col-2 text-center px-0">
                    <p class="text-dark text-uppercase letter-spacing mb-0">
                      <b v-if="game.report">{{game.report.home_team_goals}} - {{game.report.away_team_goals}}</b>
                      <b v-else>VS</b>
                    </p>
                  </div>
                  <div class="col-5 pr-0">
                    <p class="mb-0 text-dark"><span v-if="game.home_away == 'Away'">{{game.team.name}}</span>
                      <span v-else>{{game.opposition.name}}</span></p>
                  </div>
                </div>
              </div>
              <div class="text-center pb-2">
                <p class="text-smallest letter-spacing text-uppercase mb-0 text-dark">{{game.team.nickname}} - {{game.competition.name}}</p>
                <p v-if="game.report" class="text-smallest letter-spacing text-uppercase mb-0"><b>View Match Report</b></p>
                <div v-else style="height:18px;"></div>
              </div>
            </div>
          </div>
        </a>
			</div>
		</div>
	</div>
</template>
<style lang="scss">
	.fixture-card{
		border-radius: 0;
		box-shadow:0rem 0rem 1rem rgba(0, 0, 0, 0.12);
	}
</style>
<script>
export default {
	props:{
		profile: Number,
	},
  data() {
    return {
      category: '*',
      errors: {},
      success: false,
      loaded: true,
      games: [],
      limit: 3,
      loadmore: true,
    }
  },
  mounted(){
    this.getFixtures();
  },
  methods: {
  	getExtension(d){
      if (d > 3 && d < 21) return 'th';
      switch (d % 10) {
        case 1:  return "st";
        case 2:  return "nd";
        case 3:  return "rd";
        default: return "th";
      }
    },
    niceDate: function (date) {
      var newdate = new Date(date);
      var thedate = newdate.getDate();
      var extension = this.getExtension(thedate);
      var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
      return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
      // return moment(date).format('Do MMM YYYY');
    },
    moment: function (date) {
      var newdate = new Date(date);
      var thedate = newdate.getDate();
      var extension = this.getExtension(thedate);
      var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
      return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
    },
    getFixtures() {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        axios.get('/profiles/fixtures/get/' + this.profile).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.games = response.data;
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>