<template>
  <div class="container container-wide pt-3 ">
    <div class="row pb-5 half_row mob-py-0" v-if="profiles.length > 0">
      <div class="col-xl-2 col-lg-3 col-6 mb-3 half_col" v-for="(profile, index) in profiles">
        <a :href="'/profiles/' + profile.id +'/'+ profile.slug" >
          <div class="card profile-card border-0 shadow">
            <picture v-if="profile.normal">
              <source :srcset="profile.normalwebp" type="image/webp"/> 
              <source :srcset="profile.normal" :type="profile.mimetype"/> 
              <img :src="profile.normal" :type="profile.mimetype" :alt="profile.full_name" class="lazy w-100"/>
            </picture>
            <picture v-else>
              <source srcset="/img/temp/profile.webp" type="image/webp"/> 
              <source srcset="/img/temp/profile.jpg" type="image/jpeg"/> 
              <img src="/img/temp/profile.jpg" type="image/jpeg" alt="Profile placeholder image" class="lazy w-100"/>
            </picture>
            <div class="p-3 profile-summary text-center text-lg-left">
              <div class="d-table w-100 h-100">
                <div class="d-table-cell align-middle w-100 h-100">
                  <p class="mb-1 profile-title text-title text-dark">{{profile.full_name}}</p>
                  <p class="text-uppercase read-more-profile letter-spacing text-small mb-0">View Profile <i class="fa fa-angle-double-right ml-1"></i></p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 mt-5 mob-mt-0 text-center" v-if="loadmore">
        <div class="btn btn-primary btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-angle-double-down"></i></div> 
      </div>
    </div>
    <div class="row py-5" v-else>
      <div class="col-lg-6 text-center text-lg-left">
        <p class="mimic-h3">Sorry no profiles found</p>
        <p>Sorry, there are no player profiles available using the filters you selected, please change your filters and try again.</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      profiles: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  .profile-card{
    p{
      &.read-more-profile{
        font-size: 0.9rem;
        a{
          color: #3968bf;
        }
      }    
      &.profile-title{
        font-size: 1.3rem;
        line-height: 1.1;
        font-weight: 600;
      }
    }
  }
  @media only screen and (max-width: 767px){
    .profile-card{
      // .profile-summary{
      //   height: 105px;
      // }
      p{
        &.read-more-profile{
          font-size: 3vw;
        }
        &.profile-title{
          font-size: 4.2vw;
        }
      }
    }
  }
</style>