<template>
  <footer class="container-fluid text-center text-lg-left position-relative z-1 bg-dark-navy">
    <div class="position-relative row mob-mt-0 mob-pt-3 ipadp-pt-0 ipadp-mt-0">
      <div class="container">
        <div class="row justify-content-center pt-5 logos">
          <div class="col-lg-3 col-6 px-5 mob-px-3">
            <a href="https://www.spar-ni.co.uk/store-locator-ni/hen71550-eurospar-brackenvale" target="_blank" aria-label="Eurospar Brackenvale" rel="noreferrer">
              <picture>
                <source srcset="/img/logos/eurospar.webp" type="image/webp"/> 
                <source srcset="/img/logos/eurospar.png" type="image/png"/> 
                <img src="/img/logos/eurospar.png" type="image/png" alt="Eurospar Brackenvale Logo" class="mt-2 mob-mt-0 mb-3 w-100 h-auto" width="189" height="104"/>
              </picture>
            </a>
          </div>
          <div class="col-lg-3 col-6 px-5 mob-px-3">
            <a href="https://galwaybaybrewery.com/northernlights/" aria-label="Northern Lights Bar Belfast" rel="noreferrer" target="_blank">
              <img src="/img/logos/northern-lights.svg" type="image/svg" alt="Northern Lightd Logo" class="mt-2 mob-mt-0 mb-3 w-100 h-auto" width="189" height="104"/>
            </a>
          </div>
          <div class="col-lg-3 col-6 px-5 mob-px-3">
            <a href="https://elementseven.co/" aria-label="Element Seven Web Design Belfast" rel="noreferrer" target="_blank">
              <picture>
                <source srcset="/img/logos/element-seven.webp" type="image/webp"/> 
                <source srcset="/img/logos/element-seven.png" type="image/png"/> 
                <img src="/img/logos/element-seven.png" type="image/png" alt="Element Seven Web Design Belfast Logo" class="mt-2 mob-mt-0 mb-3 w-100 h-auto" width="189" height="104"/>
              </picture>
            </a>
          </div>
          <div class="col-lg-12">
            <hr class="blue-line mb-4 mob-mb-5" />
          </div>
        </div>
        <div class="row my-5 mob-my-0">
          <div class="col-lg-3 d-none d-lg-block pr-5 mob-px-3">
            <picture>
              <source srcset="/img/logos/logo.webp" type="image/webp"/> 
              <source srcset="/img/logos/logo.png" type="image/png"/> 
              <img src="/img/logos/logo.png" type="image/png" class="footer-logo h-auto mt-2 mb-3" width="80" height="95" alt="Newtown Forest Football Club Logo"/>
            </picture>
          </div>
          <div class="col-lg-2 col-6">
            <p class="text-one text-uppercase d-lg-none"><a href="/">Home</a></p>
            <p class="text-one text-uppercase"><a href="/our-club/about">About</a></p>
            <p class="text-one text-uppercase"><a href="/fixtures-and-results">Fixtures & Results</a></p>
            <p class="text-one text-uppercase"><a href="https://www.442teamwear.com/newtown-forest-fc" target="_blank" aria-label="442teamwear" rel="noreferrer">Club Shop</a></p>
            <p class="text-one text-uppercase d-lg-none"><a href="/news">News</a></p>
          </div>
          <div class="col-lg-2 col-6">
            <p class="text-one text-uppercase"><a href="/our-club/first-team">First Team</a></p>
            <p class="text-one text-uppercase"><a href="/our-club/second-team">Second Team</a></p>
            <p class="text-one text-uppercase"><a href="/our-club/third-team">Third Team</a></p>
            <p class="text-one text-uppercase d-lg-none"><a href="/join">Join Us</a></p>
            <p class="text-one text-uppercase d-lg-none"><a href="/contact">Contact</a></p>
          </div>
          <div class="col-lg-2 col-6 d-none d-lg-block">
            <p class="text-one text-uppercase"><a href="/news">News</a></p>
            <p class="text-one text-uppercase"><a href="/join">Join Us</a></p>
            <p class="text-one text-uppercase"><a href="/contact">Contact</a></p>
          </div>
          <div class="col-lg-3 mob-mt-5">
            
            <p class="mb-2">
              <a href="https://www.facebook.com/NewtownForestFC" aria-label="Facebook" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/newtownforestfc" aria-label="Instagram" rel="noreferrer" target="_blank"><i class="fa fa-instagram ml-4"></i></a>
              <a href="https://twitter.com/newtownforestfc" aria-label="Twitter" rel="noreferrer" target="_blank" ><i class="fa fa-twitter ml-4"></i></a>
              <a href="https://www.youtube.com/@NewtownForestFC" target="_blank" aria-label="YouTube" rel="noreferrer"><i class="fa fa-youtube-play ml-4"></i></a>
            </p>
            <p class="text-one mob-mb-0"><a href="mailto:club@newtownforest.com">club@newtownforest.com</a></p>

          </div>
         
        </div>

      </div>
    </div>
    <div class="row text-center position-relative z-2">
      <div class="container py-2">
        <hr/>
        <div class="row mb-2">
          <div class="col-lg-4 text-center text-lg-left">
            <p class="text-small mb-0 mob-mb-2 mob-mt-2"><a href="/privacy-policy">Privacy Policy</a></p>
          </div>
          <div class="col-lg-8 text-center text-lg-right">
            <p class="text-small mb-0 text-white">&copy;2022 Newtown Forest FC, All Rights Reserved<span class="d-none d-md-inline"> &nbsp;|&nbsp; </span><br class="d-md-none"/><a href="https://elementseven.co" target="_blank" aria-label="Element Seven Digital Limited" rel="noreferrer">Website by Element Seven</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<style lang="scss">
  footer{
    color: #000000;
    .bg-darker{
      background-color: #1D252D;
    }
    .logos{
      img{
        opacity: 0.5;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease ;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        &:hover{
          opacity: 1;
        }
      }
    }
    .footer-bg{
      position: absolute !important;
      bottom: 0;
      left: 0;
      width: 100vw;
      min-height: 745px;
      height: 100%;
      z-index: 0;
      // background-image: url("/img/graphics/footer-bg.svg");
      // background-size: 1560px;
      // background-position: center bottom;
      // background-repeat: no-repeat;
    }
    a{
      cursor: pointer;
      color: #ffffff;
      &:hover{
        color: #FBDC64;
      }
    }
    .primary-line{
      border-top: 2px solid #FBDC64;
    }
    p{
      font-size: 1.0rem;
    }
    img{
      max-width: 100%;
    }
    .footer-social{
      font-size: 25px;
    }
    .footer-logo{
      width:100%;
      max-width: 80px;
    }
  }
  .footer-inner{
    border-top: 2px solid #fff;
  }
  .footer-top{
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    .footer-overlap{
      margin-top: -540px;
      &.team-overlap{
        margin-top: -420px;
      }
    }
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
      footer{
      p{
        &.text-smallest{
          font-size: 16px;
        }
      }
      .mob-line-height{
        font-size: 16px;
        line-height: 2.5;
      }
      .footer-bg{
        // background-image: url("/img/graphics/footer-bg-mob.svg");
        // background-size: cover;
        // left: 0;
        // width: 100%;
        // height: calc(100% - 210px);
      }
    }
  }
  @media only screen and (max-width : 767px){
    footer{
      p{
        &.text-smallest{
          font-size: 3vw;
        }
      }
      .mob-line-height{
        font-size: 3.5vw;
        line-height: 2.5;
      }
      .footer-bg{
        // background-image: url("/img/graphics/footer-bg-mob.svg");
        // background-size: cover;
        // left: 0;
        // width: 100%;
        // height: calc(100% - 210px);
      }
    }
  }
</style>