<template>
	<div class="text-center text-lg-left">
		<p class="mimic-h2">Thinking of joining us?</p>
		<p>New players are always welcome at our training sessions on Tuesday and Thursday evenings at Belvoir and Aquinas Grammar School. Get in touch and let us know you're coming!</p>
		<a href="/join">
			<button type="button" class="btn btn-primary">Join</button>
		</a>
	</div>
</template>