<template>
  <div class="container-fluid px-0">
    <div class="row bg-primary py-3 position-relative z-2 mt-5 mob-mt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 pt-2">
            <select class="form-control form-control-lg" v-model="stat" @change="changeTable(stat)">
              <option value="Top Scorers">Top Scorers - All teams</option>
              <option value="Top Scorers - Firsts">Top Scorers - Firsts</option>
              <option value="Top Scorers - Seconds">Top Scorers - Seconds</option>
              <option value="Top Scorers - Thirds">Top Scorers - Thirds</option>
              <option value="Appearances">Appearances</option>
              <option value="Assists">Assists</option>
              <option value="MOTM">MOTM Performances</option>
            </select>
          </div>
          <div class="col-lg-4 pt-2">
            <select class="form-control form-control-lg" v-model="season" @change="changeTable(stat)">
              <option value="2024/25">Season 2024/25</option>
              <option value="2023/24">Season 2023/24</option>
              <option value="2022/23">Season 2022/23</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="container">
        <div class="statistics-table-holder">
          <div v-if="success == true">
            <p class="mimic-h3 mb-1">{{title}}</p>
            <p class="mb-4">{{notes}}</p>
            <div v-html="table"></div>  
          </div>
          <div class="loading" v-else>
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <p class="loading-text text-uppercase text-small text-blue letter-spacing text-center">Fetching Statistics...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      stat: 'Top Scorers',
      table: '',
      title: '',
      notes: '',
      season: '2024/25',
      errors: {},
      success: false,
      loaded: true,
    }
  },
  mounted(){
    this.getTable();
  },
  methods: {
    changeTable(stat){
      if(stat == "Top Scorers"){
        this.getTable();
      }else if(stat == "Top Scorers - Firsts"){
        this.getFirstsTable();
      }else if(stat == "Top Scorers - Seconds"){
        this.getSecondsTable();
      }else if(stat == "Top Scorers - Thirds"){
        this.getThirdsTable();
      }else if(stat == "Appearances"){
        this.getAppearancesTable();
      }else if(stat == "Assists"){
        this.getAssistsTable();
      }else if(stat == "MOTM"){
        this.getMotmsTable();
      }
    },
    getTable() {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        axios.get('/stats/get-top-scorers?season=' + this.season).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.table = response.data.data;
          this.title = response.data.title;
          this.notes = response.data.notes;
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  
    getFirstsTable() {

      this.success = false;
      this.errors = {};
      this.offset = 0;
      axios.get('/stats/get-top-scorers-firsts?season=' + this.season).then(response => {
        // Empty fields and enable success message
        this.loaded = true;
        this.success = true;
        this.table = response.data.data;
        this.title = response.data.title;
        this.notes = response.data.notes;
      })
      .catch(error => {
        // Error handling
        this.loaded = true;
        console.log(error.response);
      });
        
    },

    getSecondsTable() {

      this.success = false;
      this.errors = {};
      this.offset = 0;
      axios.get('/stats/get-top-scorers-seconds?season=' + this.season).then(response => {
        // Empty fields and enable success message
        this.loaded = true;
        this.success = true;
        this.table = response.data.data;
        this.title = response.data.title;
        this.notes = response.data.notes;
      })
      .catch(error => {
        // Error handling
        this.loaded = true;
        console.log(error.response);
      });
        
    },

    getThirdsTable() {

      this.success = false;
      this.errors = {};
      this.offset = 0;
      axios.get('/stats/get-top-scorers-thirds?season=' + this.season).then(response => {
        // Empty fields and enable success message
        this.loaded = true;
        this.success = true;
        this.table = response.data.data;
        this.title = response.data.title;
        this.notes = response.data.notes;
      })
      .catch(error => {
        // Error handling
        this.loaded = true;
        console.log(error.response);
      });
        
    },

    getAppearancesTable() {

      this.success = false;
      this.errors = {};
      this.offset = 0;
      axios.get('/stats/get-appearances?season=' + this.season).then(response => {
        // Empty fields and enable success message
        this.loaded = true;
        this.success = true;
        this.table = response.data.data;
        this.title = response.data.title;
        this.notes = response.data.notes;
      })
      .catch(error => {
        // Error handling
        this.loaded = true;
        console.log(error.response);
      });
        
    },

    getAssistsTable() {

      this.success = false;
      this.errors = {};
      this.offset = 0;
      axios.get('/stats/get-assists?season=' + this.season).then(response => {
        // Empty fields and enable success message
        this.loaded = true;
        this.success = true;
        this.table = response.data.data;
        this.title = response.data.title;
        this.notes = response.data.notes;
      })
      .catch(error => {
        // Error handling
        this.loaded = true;
        console.log(error.response);
      });
        
    },

    getMotmsTable() {

      this.success = false;
      this.errors = {};
      this.offset = 0;
      axios.get('/stats/get-motms?season=' + this.season).then(response => {
        // Empty fields and enable success message
        this.loaded = true;
        this.success = true;
        this.table = response.data.data;
        this.title = response.data.title;
        this.notes = response.data.notes;
      })
      .catch(error => {
        // Error handling
        this.loaded = true;
        console.log(error.response);
      });
        
    },
  },
}
</script>
<style lang="scss">
	.loading{
		height: 642px;
		width: 100%;
		background-color: rgba(60,98,165,0.06);
		position:relative;
		.lds-roller{
			position: absolute;
	    top: calc(50% - 32px);
	    left: calc(50% - 32px);
		}
		.loading-text{
			position: absolute;
	    top: calc((50% - 32px) + 75px);
	    left: 0;
	    width: 100%;
		}
	}
</style>