<template>
	<div class="league-table-holder">
		<div v-html="table" v-if="success == true"></div>
		<div class="loading" v-else>
			<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
			<p class="loading-text text-uppercase text-small text-blue letter-spacing text-center">Fetching Table from DAWFL...</p>
		</div>
	</div>
</template>
<script>
export default {
  data() {
    return {
      table: '',
      errors: {},
      success: false,
      loaded: true,
    }
  },
  mounted(){
    this.getTable();
  },
  methods: {
    getTable() {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        axios.get('/league-tables/first-team').then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.table = response.data;
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>
<style lang="scss">
	.loading{
		height: 642px;
		width: 100%;
		background-color: rgba(60,98,165,0.06);
		position:relative;
		.lds-roller{
			position: absolute;
	    top: calc(50% - 32px);
	    left: calc(50% - 32px);
		}
		.loading-text{
			position: absolute;
	    top: calc((50% - 32px) + 75px);
	    left: 0;
	    width: 100%;
		}
	}
</style>