<template>
	<div>
		<div id="main-menu" class="menu d-none d-lg-block top-on">
      <div class="container-fluid bg-dark-navy px-5 py-1 d-none d-lg-block position-relative z-3">
        <div class="row">
          <div class="col-lg-6">
            <p class="mb-0 text-small">
              <a href="https://www.facebook.com/NewtownForestFC" target="_blank" class="text-white" aria-label="Facebook" rel="noreferrer"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/newtownforestfc" target="_blank" class="text-white" aria-label="Instagram" rel="noreferrer"><i class="fa fa-instagram ml-3"></i></a>
              <a href="https://twitter.com/newtownforestfc" target="_blank" class="text-white" aria-label="Twitter" rel="noreferrer"><i class="fa fa-twitter ml-3"></i></a>
              <a href="https://www.youtube.com/@NewtownForestFC" target="_blank" class="text-white" aria-label="YouTube" rel="noreferrer"><i class="fa fa-youtube-play ml-3"></i></a>
            </p>
          </div>
          <div class="col-lg-6 text-right">
            <p class="letter-spacing text-small mb-0">
              <a href="mailto:club@newtownforest.com" class="smaller cursor-pointer text-white mr-4"><i class="fa fa-envelope-o mr-1"></i>club@newtownforest.com</a>
            </p>
          </div>
        </div>
      </div>
      <div class="container-fluid px-5 mob-px-3 ipadp-px-3">
        <div class="row">
          <div class="col-lg-1 py-3 page-home-pt-0">
            <a href="/">
              <picture>
                <source srcset="/img/logos/logo.webp" type="image/webp"/> 
                <source srcset="/img/logos/logo.png" type="image/png"/> 
                <img src="/img/logos/logo.png" type="image/png" alt="Newtown Forest logo" class="menu_logo mt-2 h-auto" width="72" height="86"/>
              </picture>
            </a>
          </div>
          <div class="col-lg-10 text-center d-none d-lg-block">
            
            <div class="menu-links d-inline-block ">
              <a href="/fixtures-and-results" class="menu-item cursor-pointer" :class="{'text-dark':(pagetype === 'yellow' || pagetype === 'light')}">Fixtures & Results</a>
            </div>
            <div class="menu-links d-inline-block ">
              <span class="menu-item our-club-dropdown-hover cursor-pointer" :class="{'text-dark':(pagetype === 'yellow' || pagetype === 'light')}"><span class="position-relative z-2">Our Club<i class="fa fa-angle-down"></i></span>
                <span class="our-club-dropdown">
                  <span class="menu-item d-block">
                    <a href="/our-club/about" class="menu-item cursor-pointer">About</a>
                  </span>
                  <span class="menu-item d-block">
                    <a href="/news" class="menu-item cursor-pointer">News</a>
                  </span>
                  <span class="menu-item d-block">
                    <a href="/our-club/first-team" class="menu-item cursor-pointer">First Team</a>
                  </span>
                  <span class="menu-item d-block">
                    <a href="/our-club/second-team" class="menu-item cursor-pointer">Second Team</a>
                  </span>
                  <span class="menu-item d-block">
                    <a href="/our-club/third-team" class="menu-item cursor-pointer">Third Team</a>
                  </span>
                  <span class="menu-item d-block">
                    <a href="/player-profiles" class="menu-item cursor-pointer">Player Profiles</a>
                  </span>
                  <span class="menu-item d-block">
                    <a href="/donate" class="menu-item cursor-pointer">Donate</a>
                  </span>
                </span>
              </span>
            </div>
            <div class="menu-links d-inline-block ">
              <span class="menu-item our-club-dropdown-hover longer cursor-pointer" :class="{'text-dark':(pagetype === 'yellow' || pagetype === 'light')}"><span class="position-relative z-2">Members<i class="fa fa-angle-down"></i></span>
                <span class="our-club-dropdown">
                  <span class="menu-item d-block">
                    <a href="https://app.moonclerk.com/portal/19sisgv3wrq/signin" target="_blank" aria-label="Moonclerk" rel="noreferrer" class="menu-item cursor-pointer">Membership Portal</a>
                  </span>
                  <span class="menu-item d-block">
                    <a href="/sign-up" class="menu-item cursor-pointer">Sign up for 2024/25</a>
                  </span>
                </span>
              </span>
            </div>
            <div class="menu-links d-inline-block ">
              <span class="menu-item our-club-dropdown-hover longer cursor-pointer" :class="{'text-dark':(pagetype === 'yellow' || pagetype === 'light')}"><span class="position-relative z-2">Shop<i class="fa fa-angle-down"></i></span>
                <span class="our-club-dropdown">
                  <span class="menu-item d-block">
                    <a href="https://www.442teamwear.com/newtown-forest-fc" target="_blank" aria-label="442teamwear" rel="noreferrer" class="menu-item cursor-pointer">Club Shop</a>
                  </span>
                  <span class="menu-item d-block">
                    <a href="/mugs" class="menu-item cursor-pointer" :class="{'text-dark':(pagetype === 'yellow' || pagetype === 'light')}">Mugs</a>
                  </span>
                </span>
              </span>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/stats" class="menu-item cursor-pointer" :class="{'text-dark':(pagetype === 'yellow' || pagetype === 'light')}">Statistics</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/join" class="menu-item cursor-pointer" :class="{'text-dark':(pagetype === 'yellow' || pagetype === 'light')}">Join</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/contact" class="menu-item cursor-pointer" :class="{'text-dark':(pagetype === 'yellow' || pagetype === 'light')}">Contact</a>
            </div>
          </div>
          <div class="col-lg-1 text-center d-none d-lg-block">
            <div class="menu-links d-inline-block">
              <a href="/nova" class="menu-item cursor-pointer">
                <i class="fa fa-user"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props:{
      pagetype: String
    },
    mounted(){
      $(document).ready(function(){
        var inview = new Waypoint({
          element: $('#menu-trigger'),
          handler: function (direction) {
            if(direction === "down"){
              $('#main-menu').removeClass('top-on');
            }
          },offset: '1%'
        });
        var inview2 = new Waypoint({
          element: $('#menu-trigger-2'),
          handler: function (direction) {
            if(direction === "up"){
              $('#main-menu').addClass('top-on');
            }
          },offset: '1%'
        });
        // Initial state
        var scrollPos = 0;
        // adding scroll event
        window.addEventListener('scroll', function(){
          // detects new state and compares it with the new one
          if ((document.body.getBoundingClientRect()).top > scrollPos){
            $('#main-menu').addClass('on');
          }
          else{
            $('#main-menu').removeClass('on');
          }
          // saves the new position for iteration.
          scrollPos = (document.body.getBoundingClientRect()).top;
        });
        var lazyLoadInstance = new LazyLoad({
            elements_selector: ".lazy"
        });
        $(".scroll-btn").click(function(){
          $('html,body').animate({
             scrollTop: $(".scrollTo").offset().top
          });
        });
      });
    }
  }
</script>
<style lang="scss">
$primary: #FBDC64; 
$blue: #4D71A5;
$darkgrey: #1C2D4B;
$white: #fff;
$title: proxima-nova-condensed, sans-serif;
$body: proxima-nova-condensed, sans-serif;
@mixin menuBoxShadow(){
  -webkit-box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.1) !important;
}
.menu-holder{
  position: relative;
  z-index: 100;
}
#menu-trigger{
  position: fixed;
  top: 200px;
  left: 0;
  width: 1px;
  height: 1px;
}
#menu-trigger-2{
  position: fixed;
  top: 100vh;
  left: 0;
  width: 1px;
  height: 1px;
}
#main-menu-top{
  z-index: 250;
}
#main-menu{
  position: fixed;
  top: -200px;
  left: 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease ;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  &.top-on{
    top: 0 !important;
  }
  &.on{
    top: 0;
  }
}
.menu{
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: $white;
  @include menuBoxShadow();
  .menu_logo{
    width: 60px;
    margin: 5px 0;
  }
  .menu-links{
    .our-club-dropdown-hover{
      position: relative;
      &:before{
        content: "";
        position:absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 2;
      }
      .our-club-dropdown{
        position: absolute;
        top: -500px;
        left: 10px;
        width: 160px;
        background-color: #ffffff;
        text-align: left;
        padding: 1rem;
        z-index: 1;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease ;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        @include menuBoxShadow();
        .menu-item{
          margin-left: 0;
          margin-bottom: 10px;
          cursor: pointer;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: 0;
          &:last-of-type{
            margin-bottom: 0;
          }
        }
        a{
          color: $darkgrey;
          cursor: pointer;
          font-family: $body;
          font-weight: 500;
          border-radius: 0;
          display: inline-block;
          margin-bottom: 0.5rem;
          &:hover{
            color: $blue;
          }
        }
      }
      &:hover{
        .our-club-dropdown{
          top: 117px;
        }
      }
      &.longer{
        .our-club-dropdown{
          width: 225px;
        }
      }
    }
    .menu-item{
      display: inline-block;
      padding-left: 2.5rem;
      cursor: pointer;
      color: $darkgrey;
      font-family: $body;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1.1rem;
      padding-top: 44px;
      padding-bottom: 44px;
      background-color:#fff;
      position: relative;
      z-index: 2;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease ;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      a{
        color: $darkgrey;
        &:hover{
          color: $blue;
        }
      }
      i{
        font-size: 1.2rem;
        margin-left: 10px;
        color: $darkgrey;
        &:hover{
          color: $blue;
        }
      }
      &:hover,
      &.active{
        color: $blue !important;
      }
    }
  }
  .menu-top-links{
    .menu-links{
      .menu-item{
        font-size: 0.8rem;
      }
    }
  }
  &.opacity{
    opacity: 0;
  }
}
@media only screen and (max-width : 1230px){
  .menu .menu-links .menu-item{
    margin-left: 0rem;
    font-size: 1rem;
    padding-left: 2rem;
  }
}
// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  .menu{
    .menu-links{
      .menu-item{
        margin-left: 0;
        &:hover{
          box-shadow: none;
        }
      }
    }
  }
  #menu_btn{
    display: block;
  }
}
</style>