<template>
	<div>
		<div id="mobile-menu-bar" class="top-on d-lg-none">
			<a href="/">
				<picture>
          <source srcset="/img/logos/logo.webp" type="image/webp"/> 
          <source srcset="/img/logos/logo.png" type="image/png"/> 
          <img src="/img/logos/logo.png" type="image/png" class="mob_menu_logo h-auto" width="40" height="50" alt="Newtown Forest Football Club Logo"/>
        </picture>
	    </a>
	    <a href="https://www.facebook.com/NewtownForestFC" aria-label="Facebook" rel="noreferrer" target="_blank">
	    	<i class="fa fa-facebook mob-top-fb"></i>
	    </a>
	    <div id="menu_btn" class="menu_btn d-lg-none"><div class="nav-icon"><span></span><span></span><span></span></div></div>
	  </div>
		<div class="mobile-menu-holder d-lg-none">
			<div id="mobile-menu" class="mobile-menu">
				<img src="/img/graphics/ball.svg" alt="Newtown Forest Football Club ball graphic" class="menu-big-ball" width="960" height="960"/>
			  <div class="container-fluid px-3">
			   	<div class="row">
				    <div class="col-12 text-center pt-5">
				      <div class="menu-links d-block pt-5">
				      	<p class="mb-0"><a href="/" class="menu-item">Home</a></p>
				        <p class="mb-0"><a href="/fixtures-and-results" class="menu-item">Fixtures & Results</a></p>
				        <p class="mb-0"><a data-toggle="collapse" href="#ourClubMobile" role="button" aria-expanded="false" aria-controls="ourClubMobile" class="menu-item">Our Club<i class="fa fa-angle-down menu-item-expand collapsed"></i><i class="fa fa-angle-up menu-item-expand expanded"></i></a></p>
				        <div class="collapse" id="ourClubMobile">
								  <p class="mb-0"><a href="/our-club/about" class="menu-item" style="color:#677078;font-size: 4vw;">About</a></p>
								  <p class="mb-0"><a href="/news" class="menu-item" style="color:#677078;font-size: 4vw;">News</a></p>
								  <p class="mb-0"><a href="/our-club/first-team" class="menu-item" style="color:#677078;font-size: 4vw;">First Team</a></p>
								  <p class="mb-0"><a href="/our-club/second-team" class="menu-item" style="color:#677078;font-size: 4vw;">Second Team</a></p>
								  <p class="mb-0"><a href="/our-club/third-team" class="menu-item mb-0" style="color:#677078;font-size: 4vw;">Third Team</a></p>
								  <p class="mb-0"><a href="/player-profiles" class="menu-item mb-0" style="color:#677078;font-size: 4vw;">Player Profiles</a></p>
								  <p class="mb-0"><a href="/donate" class="menu-item cursor-pointer" style="color:#677078;font-size: 4vw;">Donate</a></p>
								  <hr class="my-3" />
								</div>
								<p class="mb-0"><a data-toggle="collapse" href="#membersMobile" role="button" aria-expanded="false" aria-controls="membersMobile" class="menu-item">Members<i class="fa fa-angle-down menu-item-expand collapsed"></i><i class="fa fa-angle-up menu-item-expand expanded"></i></a></p>
				        <div class="collapse" id="membersMobile">
								  <p class="mb-0"><a href="https://app.moonclerk.com/portal/19sisgv3wrq/signin" target="_blank" aria-label="Moonclerk" rel="noreferrer" class="menu-item cursor-pointer" style="color:#677078;font-size: 4vw;">Membership Portal</a></p>
								  <p class="mb-0"><a href="/sign-up" class="menu-item cursor-pointer" style="color:#677078;font-size: 4vw;">Sign up for 2024/25</a></p>
								  <hr class="my-3" />
								</div>
								<p class="mb-0"><a href="/stats" class="menu-item">Statistics</a></p>
				        <p class="mb-0"><a href="https://www.442teamwear.com/newtown-forest-fc" target="_blank" aria-label="442teamwear" rel="noreferrer" class="menu-item">Club Shop</a></p>
				        <p class="mb-0"><a href="/mugs"class="menu-item">Mugs</a></p>
				        <p class="mb-0"><a href="/join" class="menu-item">Join</a></p>
				        <p class="mb-0"><a href="/contact" class="menu-item mb-0">Contact</a></p>
				        <hr class="blue-line my-4" />
				        <p class="mb-0 text-one"><b><a href="mailto:club@newtownforest.com"><span class="text-dark">club@newtownforest.com</span></a></b></p>
				        <p class="mb-0 text-large mt-3">
				          <a href="https://www.facebook.com/NewtownForestFC" aria-label="Facebook" rel="noreferrer" target="_blank" class="text-dark"><i class="fa fa-facebook"></i></a>
		              <a href="https://www.instagram.com/newtownforestfc" aria-label="Instagram" rel="noreferrer" target="_blank" class="text-dark"><i class="fa fa-instagram ml-4"></i></a>
		              <a href="https://twitter.com/newtownforestfc" aria-label="Twitter" rel="noreferrer" target="_blank" class="text-dark"><i class="fa fa-twitter ml-4"></i></a>
		              <a href="https://www.youtube.com/@NewtownForestFC" target="_blank" class="text-dark" aria-label="YouTube" rel="noreferrer"><i class="fa fa-youtube-play ml-4"></i></a>
				        </p>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props:{
      pagetype: String
    },
		mounted(){
			$('#menu-trigger').each(function(index, element){
        var inview = new Waypoint({
          element: element,
          handler: function (direction) {
            if(direction === "down"){
              $('#mobile-menu-bar').removeClass('top-on');
            }else{
              $('#mobile-menu-bar').addClass('top-on');
            }
          },offset: '0%'
        });
      });
      // Initial state
			var scrollPos = 0;
			// adding scroll event
			window.addEventListener('scroll', function(){
			  // detects new state and compares it with the new one
			  if ((document.body.getBoundingClientRect()).top > scrollPos){
					$('#mobile-menu-bar').addClass('on');
			  }
				else{
					$('#mobile-menu-bar').removeClass('on');
				}
				// saves the new position for iteration.
				scrollPos = (document.body.getBoundingClientRect()).top;
			});
			$('#menu_btn').click(function(){
				$("#menu_btn .nav-icon").toggleClass('nav_open');
				$("#mobile-menu").toggleClass("on");
				$("#menu").toggleClass("on");
				$("#menu_body_hide").toggleClass("on");
				$("#content").toggleClass("opacity");
				$(".menu").each(function(){
					$(this).toggleClass("opacity");
				});
				$('#mobile-menu-bar').toggleClass('menu-open');
			});
		}
	}
</script>
<style lang="scss">
	.close-menu{
		cursor: pointer;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		max-width: 20px;
		&:hover{
			transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
		}
	}

	#menu_body_hide{
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #4D71A5;
		display: table;
		opacity: 0;
		z-index: -1;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		&.on{
			opacity: 0.95;
			z-index: 220;
		}
	}
	.mobile-menu-holder{
		position: fixed;
		top: 0;
		right: -150vw;
		z-index: 900;
	}
	#mobile-menu-bar{
		background-color: #fff;
		width: 100%;
		height: 55px;
		position: fixed;
		top: -70px;
		left: 0;
		z-index: 1000;
		-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1) !important;
		-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1) !important;
		box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1) !important;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
	  &.top-on{
	  	top:0 !important;
	  }
	  &.on{
	  	top:0;
	  }
	  &.menu-open{
	  	top:0 !important;
	  }
	  .mob_menu_logo{
	    position: absolute;
	    top: 5px;
	    left: calc(50% - 16px);
	    z-index: 99;
	    width: 38px;
		}
		.mob-top-fb{
			position: absolute;
	    top: 19px;
	    left: 1rem;
	    z-index: 99;
	    font-size: 20px;
	    color: #1C2D4B;
		}
	}
	.mobile-menu{
		position: fixed;
		top: 0;
		right: -150vw;
		overflow: hidden;
		width: 320px;
		height: 100vh;
		background-color: #ffffff;
		color: #1D252D;
		padding-left: 1rem;
		z-index: 900;
		-webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		-moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
	  .menu-big-ball{
	    position: absolute;
	    bottom: -130px;
	    right: -320px;
	    width: 590px;
	    height: 590px;
	    z-index: 0;
	    opacity: 0.3;
	  }
	  .menu-dropdown-holder{
      .menu-dropdown-trigger{

      }
      .menu-dropdown{
        position: absolute;
        top: 5rem;
        left: 1000px;
        width: calc(100% + 3rem);
        height: calc(100vh - 5rem);
        background-color: #1D252D;
        text-align: left;
        padding: 1rem;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease ;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
        -moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4) !important;
        box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4)  !important;
        a{
          color: #1D252D;
          font-size: 4vw;
          cursor: pointer;
          font-family: Gotham, sans-serif;
          font-weight: 700;
          display: inline-block;
          margin-bottom: 0.5rem;
          &:hover{
            color: #4D71A5;
          }
        }
        &.active{
          left: 0;
        }
      } 
    }
		.menu-links{
			.menu-item{
				position:relative;
				display: block;
				cursor: pointer;
				color: #1D252D;
				font-weight: 700;
				font-size: 20px;
				margin-bottom: 0.75rem !important;
				display: inline-block;
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
				a{
					color: #1D252D;
					&:hover{
						color: #4D71A5;
					}
				}
				i{
					font-size: 1.2rem;
					margin-left: 10px;
				}
				.menu-item-expand{
					position: absolute;
			    right: -6vw;
			    top: 1vw;
			    width: 5vw;
				}
			}
		}
		&.on{
			right: 0;
		}
	}
	#menu_btn,
	.menu_btn{
		position: absolute;
	  top: 1.2rem;
	  right: 1rem;
		z-index: 1100;
		cursor: pointer;
		display: inline-block;
	  width: 30px;
	  height: 30px;
		-webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease ;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
		.nav-icon {
			width: 30px;
			height: 30px;
			position: relative;
			z-index: 110;
			cursor: pointer;
			-webkit-transition: all 300ms ease;
		  -moz-transition: all 300ms ease ;
		  -o-transition: all 300ms ease;
		  transition: all 300ms ease;
			span {
				display: block;
				position: absolute;
				border-radius: 0px;
				height: 3px;
				width: 100%;
				background: #1C2D4B;
				opacity: 1;
				right: 0;
				cursor: pointer;
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
			  -webkit-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
				-moz-box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
				box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3) !important;
			}
			span:nth-child(1) {
				top: 0px;
			}
			span:nth-child(2) {
				top: 8px; 
				-webkit-transition: all 300ms ease;
			  -moz-transition: all 300ms ease ;
			  -o-transition: all 300ms ease;
			  transition: all 300ms ease;
			}
			span:nth-child(3) {
				top: 16px; 
				width: 60%;
			}
			&.nav_open{
				span {
					border-radius: 10px;
					background: #1C2D4B;
				}
				span:nth-child(1) {
					top: 9px !important;
					-webkit-transform: rotate(135deg) !important;
					-moz-transform: rotate(135deg) !important;
					-o-transform: rotate(135deg) !important;
					transform: rotate(135deg) !important; 
				}
				span:nth-child(2) {
					opacity: 0 !important;
					left: 20vw !important; 
				}
				span:nth-child(3) {
					width: 100%;
					top: 9px !important;
					-webkit-transform: rotate(-135deg) !important;
					-moz-transform: rotate(-135deg) !important;
					-o-transform: rotate(-135deg) !important;
					transform: rotate(-135deg) !important; 
				}
			}
		}
		&:hover{
			.nav-icon{
				span:nth-child(3) {
					width: 100%;
				}
			}
		}
		&.on{
			background-color: #e83e8c;
		}
		&.dark{
			.nav-icon {
				span {
					background: #F6CF3C;
				}
			}
		}
	}
	@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    .mobile-menu .menu-dropdown-holder .menu-dropdown a{
    	font-size: 1.1rem;
    }
  }
	@media only screen and (max-width : 767px){
		.mobile-menu .menu-links .menu-item{
			font-size: 4.5vw;
		}
	}
</style>